

table .tablaModal{
	border:1px solid rgba(0,0,0,.3);
	
	width:600px ;
	text-align: center;
	padding: 15px 25px;
	background: #f5535b;
	color:white;

}

table .tablaModal th{
	border:1px solid rgba(0,0,0,.3);
	
	text-align: center;
	background: #f5535b;
	color:white;

}